/* presentation*/
body{
    margin: 0px;
    padding: 0%;
    height:80vh;
    background-color: rgb(30, 30, 30);
    color:white;
    font-family: sans-serif;
}

#page{
    background-image: url('font2.jpg');
    background-size: cover;
}

#masque{
    padding:0%;
    height:100%;
    background: rgb(255,0,0);
    background: linear-gradient(25deg, rgb(29, 29, 29) 50%, rgba(0, 0, 0, 0.397) 30%);
    text-align: center;
    align-items: center;

}
/* presentation*/

/*header*/
nav{
    width:100%; 
    font-size:3em;
    display:flex;
    flex-direction: row;
}

.menu-deroulant{
    text-align: right;
    margin-top: 3%;
    width:50%;
    padding:2%;
}

#logo-company{
    text-align: left;
    width: 50%;
}

#menu{
    display: none;
    position: absolute;
    margin-left:20%;
    opacity: 0;
}

ul, a{
    color:white;
    text-align: left;
    text-decoration:none;
    list-style: none;
}

#search{
    display: none;
}

i{
    display:flex;
    justify-content: center;
    align-self: center;
}

#logo-welcome .barSearch{
    display:flex;
    justify-content: center;
    align-self: center;
    width:50%;
    height:8%;
    margin-right: 1%;
    border-radius: 50px;
    font-size: 0.8em;
    border: none;
    box-shadow: 2px 8px 20px;
}

input:focus, button{
    outline-style:none;
}
/*header*/

/*content*/
main{
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

#landing-text{
    height:47.7vh;
    width: 100%;
    font-size: 3em;
    display: flex;
    flex-direction: column;
}

#logo-welcome{
    height:45vh;
    width: 100%
}

#landing-text div h1{
    padding: 0% 0% 4% 0%;
}

.page-design{
    font-weight: lighter;
    font-family: 'Roboto', sans-serif;
}

button{
    font-size:1em;
    color:white;
    background: none;
    padding:1% 5% 1% 5%;
    border-radius: 50px;
    border: 2px solid white;
}

#logo-welcome #search{
    font-size: 4em;
    height:100%;
    width:100%;
    display:flex;
    justify-content: center;
    align-self: center;
}
/*content*/


@media screen and (min-width: 1200px)
{
    /* mise en page*/
    body{
        padding: 2%;
    }

    #page{
        height:100%;
        padding-bottom: 6%;
        border-radius: 10px;
        box-shadow: 12px 12px 24px 5px black;
    }
    
    #masque{
        padding:3%;
        text-align: left;
        border-radius: 10px;
        background: linear-gradient(120deg, rgb(29, 29, 29) 56%, rgba(0, 0, 0, 0.397) 30%);
    }
    /* mise en page*/

    /*header*/
    nav{
        font-size:1em;
        justify-content: space-around;
    }

    #icon{
        display: none;
    }

    #landing-text, #logo-welcome, #logo-company{
        color: white;
        font-size:1em;
        display:block;
        width: 50%;
        
    }

    .menu-deroulant{
        margin-top: 0%;
    }

    #menu{
        display: block;
        margin:0%;
        position: relative;
        opacity: 1;
    }

    #menu #search{
        display:flex;
        flex-direction: row-reverse;
    }

    .barSearch{
        width:0%;
        margin-right: 1%;
        opacity: 0;
        border-radius: 10px;
        font-size: 1em;
        box-shadow: 2px 4px 20px;
    }
    
    #menu ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    a{  
        padding-bottom:10%;
    }
    
    a:hover{
        border-bottom: 2px solid white;
    }

    /*header*/

    /*content*/
    main{
        flex-direction: row;
    }
   
    #landing-text div h1{
        font-size: 4em;
    }

    #landing-text{
        font-size: 1em;
    }

    button{
        font-size:1em;
        padding:1% 4% 1% 4%;
    }

    #logo-welcome #search{
        display:none;
    }
    /*content*/
}